<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/dz.png" />
    <title>Update Car</title>
    <link rel="stylesheet" href="stylesheets/admin.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}"
    />
  </head>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DZ EMPIRE RENTAL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/homeadmin}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/profileadmin}">
              <img
                src="images/profileadmin.png"
                style="width: 30px; height: 30px"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Page Content -->
  <body style="background-color: #f39d7d">
    <!-- Start Side Bar-->
    <div class="container-fluid" style="height: 100vh">
      <div class="row" style="height: 100%">
        <div class="col-2 justify-content-start bg-white">
          <!-- Sidebar content goes here -->

          <ul
            class="nav nav-underline flex-column mb-auto"
            style="padding-left: 40px"
          >
            <h5 style="margin-top: 50px">Menu</h5>
            <li>
              <a
                th:href="@{/listStaff}"
                class="nav-link text-black justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 20px"
                >
                  shield_person</span
                >Staff</a
              >
            </li>

            <li>
              <a
                th:href="@{/viewCustomer}"
                class="nav-link text-black d-flex justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 20px"
                >
                  groups</span
                >Customer</a
              >
            </li>

            <li>
              <a
                th:href="@{/viewBooking}"
                class="nav-link text-black d-flex justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 20px"
                >
                  car_rental</span
                >Booking</a
              >
            </li>

            <li>
              <a>
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 20px"
                >
                  local_taxi</span
                >Car</a
              >

              <a
                th:href="@{/viewSedan}"
                class="nav-link text-black d-flex justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 40px"
                >
                  code</span
                >Sedan</a
              >

              <a
                th:href="@{/viewMpv}"
                class="nav-link text-black d-flex justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 40px"
                >
                  code</span
                >MPV</a
              >

              <a
                th:href="@{/viewCompact}"
                class="nav-link text-black d-flex justify-content-start"
              >
                <span
                  class="material-symbols-outlined"
                  style="margin-right: 40px"
                >
                  code</span
                >Compact</a
              >
            </li>
          </ul>
        </div>
        <div class="col-9">
          <div class="container" style="height: 100%">
            <div class="offset-1" style="margin-top: 2%; margin-bottom: 5%">
              <a th:href="@{/viewSedan}" class="btn btn-dark">
                <i class="bi bi-arrow-left-circle-fill"></i> Go Back
              </a>
              <div class="card col-12 mt-2 p-3">
                <h2 class="text-center">Update Car</h2>
                <div class="row">
                  <div class="col-md-6">
                    <img
                      th:src="${car.imageSrc}"
                      alt="Car Image"
                      style="
                        width: 300px;
                        height: 200px;
                        margin-left: 80px;
                        margin-top: 50px;
                      "
                    />
                  </div>
                  <div class="col-md-6">
                    <form
                      th:action="@{/updateCar}"
                      method="post"
                      th:object="${car}"
                      enctype="multipart/form-data"
                      class="p-2"
                    >
                      <input
                        type="hidden"
                        name="carid"
                        th:value="${car.carid}"
                      />
                      <div class="form-group">
                        <label for="carName">Car Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="carname"
                          th:value="${car.carname}"
                        />
                      </div>
                      <div class="form-group">
                        <label for="carType">Car Type</label>
                        <input
                          type="text"
                          class="form-control"
                          name="cartype"
                          th:value="${car.cartype}"
                        />
                      </div>
                      <div class="form-group">
                        <label for="carCondition">Car Condition</label>
                        <input
                          type="text"
                          class="form-control"
                          name="condition"
                          th:value="${car.condition}"
                        />
                      </div>
                      <div class="form-group">
                        <label for="carPrice">Car Price</label>
                        <input
                          type="text"
                          class="form-control"
                          name="carprice"
                          th:value="${car.carprice}"
                        />
                      </div>
                      <div class="form-group">
                        <label for="carimage" class="form-label me-2"
                          >Input New Image:</label
                        >
                        <div class="position-relative">
                          <input
                            type="file"
                            name="carimage"
                            id="carimage"
                            class="form-control"
                            required
                          />
                          <button
                            type="button"
                            id="deleteImage"
                            class="btn btn-link delete-icon"
                          >
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>

                        <div id="imagePreview"></div>
                      </div>
                      <button type="submit" class="btn btn-primary mt-3">
                        Save Changes
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var fileInput = document.getElementById("carimage");
      var deleteButton = document.getElementById("deleteImage");
      var imagePreview = document.getElementById("imagePreview");

      fileInput.addEventListener("change", function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
          var img = document.createElement("img");
          img.src = reader.result;
          img.classList.add("img-thumbnail");
          imagePreview.innerHTML = "";
          imagePreview.appendChild(img);
          deleteButton.style.display = "inline";
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          imagePreview.innerHTML = "";
          deleteButton.style.display = "none";
        }
      });

      deleteButton.addEventListener("click", function () {
        fileInput.value = null;
        imagePreview.innerHTML = "";
        deleteButton.style.display = "none";
      });
    </script>

    <footer class="py-3 bg-dark text-white col-12 fixed-bottom">
      <div class="container-fluid">
        <p class="m-0 text-center">
          Copyright &copy; 2023 <a href="#">DZ EMPIRE CAR RENTAL</a>
        </p>
      </div>
    </footer>

    <script
      th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
