<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Booking </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
</head>
<nav class="navbar">
    <p class="navbar-title">DZ EMPIRE RENTAL</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Log Out</a></li>
      <div class="car-icon">
        <img src="images/car.png" alt="Car Icon">
      </div>
    </ul>
  </nav>
<body>
    <div class="container-booking">
        <div class="back-button">
        <a href="homepage.html"><img src="images/previous.png" width="70px"></a>
        <p>Booking</p>
        </div>
        <img class="user" src="images/profile.png" alt="">
        <div class="container-book">
            <div class="book-cont">
                <img src="sedan/sedan1.jpg" alt="">
                <h4>Honda Civic</h4>
                <p>RM 150.00</p>
                <div class="star-rating">
                    <img src="images/star.png" alt="">
                    <img src="images/star.png" alt="">
                    <img src="images/star.png" alt="">
                    <img src="images/star.png" alt="">
                    <img src="images/star.png" alt="">
                </div>
                
            </div>
            
            <div class="book-form">
                <form action=""> 
                    <div class="form-row">
                        <label for="day">Day:</label>
                        <input type="number" id="day">
                    </div>
                    <div class="form-row">
                        <label for="pickup-date">Pick-up Date:</label>
                        <input type="date" id="pickup-date">
                    </div>
                    <div class="form-row">
                        <label for="pickup-time">Pick-up Time:</label>
                        <input type="time" id="pickup-time">
                    </div>
                    <div class="form-row">
                        <label for="dropoff-date">Drop-Off Date:</label>
                        <input type="date" id="dropoff-date">
                    </div>
                    <div class="form-row">
                        <label for="dropoff-time">Drop-Off Time:</label>
                        <input type="time" id="dropoff-time">
                    </div>
                    <div class="form-row">
                        <label for="price">Price:</label>
                        <input type="number" step="0.01" id="price">
                    </div>
                <button type="reset">CLEAR</button>
                <a href="cart.html"><button href="cart.html">ADD TO CART</button></a>
                <button>PAY NOW</button>
            </form>
            </div>
            
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>
