<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/dz.png">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/homepage.css">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body style="background-color:#F39D7D">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DZ EMPIRE RENTAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/profilecust}">
                  <img src="../../images/user (2).png" style="width: 30px; height: 30px;">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-start">
        <a th:href="@{/homecustomer}">
          <img src="images/previous.png" width="50px" height="50px"/>
        </a>
        <h1 class="col-lg-11 text-center">BOOKING PAGE</h1>
      </div>
      <div class="container" style="height: 100%;">
        <div class="card col-12 mb-3 mt-5 align-items-center" style="background-color: #EF7A4E;">
          <div class="d-flex flex justify-content-center">
            <div class="col-4" style="margin: 8%;">
              <img src="../../compact/compact1.jpg" class="img-fluid rounded-start mt-2 me-3" style="width:600px;height: 400px;">
              <h4 class="mt-2">Price: RM180/DAY</h4>
              <h4 class="mt-2">Condition:</h4>
              <div>
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star.png" width="20px" height="20px">
                <img src="../../images/star (1).png" width="20px" height="20px">
                <img src="../../images/star (1).png" width="20px" height="20px">
                <h4 class="d-inline-block">8/10</h4>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="text-capitalize">COMPACT</h1>
                <div style="background-color: #4EC3EF;border-radius: 15px;">
                  <h3 class="text-capitalize text-center mt-3">HONDA CITY HATCHBACK</h3>
                </div>
                  <form >
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">DAY</h5>
                      </div>
                      <div class="col-auto">
                        <input type="number" min="1" max="10" class="form-control">
                      </div>                    
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">PICK-UP DATE</h5>
                      </div>
                      <div class="col-auto">
                        <input type="date" class="form-control">
                      </div>         
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">PICK-UP TIME</h5>
                      </div>
                      <div class="col-auto">
                        <input type="time" class="form-control">
                      </div>         
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">DROP-OFF DATE</h5>
                      </div>
                      <div class="col-auto">
                        <input type="date" class="form-control">
                      </div>         
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">DROP-OFF TIME</h5>
                      </div>
                      <div class="col-auto">
                        <input type="time" class="form-control">
                      </div>         
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3 text-center" style="background-color: #4EC3EF;">
                        <h5 class="mt-2">Price</h5>
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control">
                      </div>  
                    </div>
                    <div class="mt-5">
                      <button class="btn btn-warning" type="button">BOOK NOW</button>
                      <button type="reset" value="Reset" class="btn btn-danger">CLEAR</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <footer class="py-3 bg-dark text-white col-12">
        <div class="container-fluid">
          <p class="m-0 text-center">Copyright &copy; 2023 <a href="#">DZ EMPIRE CAR RENTAL</a></p>
        </div>
      </footer>
  </body>
  <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>