<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR RENTAL SYSTEM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap"
     rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<nav class="navbar">
    <p class="navbar-title">ACCIO.COM</p>
    <ul>
      <li><a href="homepage.html">Home</a></li>
      <li><a href="login.html">Login</a></li>
      <div class="car-icon">
        <img src="images/car.png" alt="Car Icon">
      </div>
    </ul>
  </nav>
<body>
<div class="header">
  <img src="images/header2.jpg" alt="">
</div>
<div class="container1">
  <h1>ACCIO.CO</h1>
  <p class="p-home">Looking for ways to spend your holiday? Why not go on a Selangor, and rent car at DZ Empire Rental. 
    Selangor, Malaysia has some indefinable quality that makes it perfect for road trips. 
    Cruising down the roads with a Selangor, Malaysia car hire and the wind in your hair,  
    your favorite tunes playing and miles of open road ahead has to be the ideal start to any adventure. 
    The sheer diversity of landscapes and cultures within Selangor, Malaysia alone makes for myriad
    tour opportunities,no matter what kind of journey you’re after.</p>
    <div class="home-container2">
      <div class="sub-container">
        <img src="images/sedanhome.jpg">
        <p>A sedan car is a four seater vehicle designed for comfortable everyday transportation,
           typically used for personal and family purposes</p>
          <br>
          <p><i>Check Out More!</i></p>
          <button><a href="login.html">Sedan</a></button>
      </div>
      <div class="sub-container">
        <img src="images/compacthome.jpg">
        <p>A compact car is a small, fuel-efficient vehicle, typically with four doors and seating for four 
          to five passengers, designed for city driving and everyday personal transportation.</p>
          <br>
        <p><i>Check Out More!</i></p>
        <button>Compact</button>
      </div>
      <div class="sub-container">
        <img src="images/mpvhome.jpg">
        <p>A MPV car is a roomy and adaptable vehicle with seven or more seats that is designed for
          large groups or families, and often used for both personal and commercial purposes</p>
          <br>
          <p><i>Check Out More!</i></p>
        <button>MPV</button>
      </div>
    </div>    
</div>
</body>
</html>