<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap"
     rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav class="navbar">
  <p class="navbar-title">DZ EMPIRE RENTAL</p>
  <ul>
    <li><a href="homepage.html">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Feedback</a></li>
    <li><a href="signup.html">Sign Up</a></li>
  </ul>
</nav>
  
<body>
    <div class="container1">
        <div class="signup-header">
            <a href="homepage.html"><img src="images/previous.png" width="70px"></a>
            <p>Login</p>
        </div>
        <div class="container2">
          <div class="side">
            <img src="images/header.jpg" alt="">
          </div>
            <p><i>Login to your Account</i></p>
            <form action="" method="" class="form">
              <input type="radio" name="user" id="admin" value="admin">
              <label>Admin</label>
              <input type="radio" name="user" id="customer" value="customer">
              <label>Customer</label><br><br>
              <label>Username</label><br>
              <input type="text" name="username" placeholder="Username"><br><br>
              <label>Password</label><br>
              <input type="text" name="password" placeholder="Enter Your Password"><br><br>
              <button type="submit" class="signup-button"><a href="home-login.html">Log In</a></button>
            </form><br><br>
            <p><a href="signup.html" class="signup"><u>Don't Have any Account?</u></a></p>
          </div>
    </div>
</body>
</html>