<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
</head>
<nav class="navbar">
    <p class="navbar-title">DZ EMPIRE RENTAL</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Feedback</a></li>
      <li><a href="#">Log Out</a></li>
      <div class="car-icon">
        <img src="images/car.png" alt="Car Icon">
      </div>
    </ul>
  </nav>
<body>
    <div class="container-1">
        <div class="back-button">
        <a href="homepage.html"><img src="images/previous.png" width="70px"></a>
        <p>Personal Information</p>
        </div>
        <img class="user" src="images/profile.png" alt="">
        <div class="container3">
            <img src="images/haris.jpeg" alt="">
            <div class="content">
                <div class="field">
                    <p>Name:</p>
                    <input type="text">
                </div>
                <div class="field">
                    <p>Phone No:</p>
                    <input type="text">
                </div>
                <div class="field">
                    <p>Address:</p>
                    <input type="text">
                </div>
                <div class="field">
                    <p>Username:</p>
                    <input type="text">
                </div>
                <div class="field">
                    <p>Password:</p>
                    <input type="text">
                </div>
                <div class="prof-func">
                    <button>Edit Profile</button>
                    <button>Delete Profile</button>
                </div>
            </div>
        </div>
    </div>
    
<script src="script.js"></script>
</body>
</html>
