
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sedan Car</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
</head>
<nav class="navbar">
    <p class="navbar-title">DZ EMPIRE RENTAL</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Feedback</a></li>
      <li><a href="#">Log Out</a></li>
      <div class="car-icon">
        <img src="images/car.png" alt="Car Icon">
      </div>
    </ul>
  </nav>
<body>
    <div class="container-1">
        <div class="back-button">
        <a href="homepage.html"><img src="images/previous.png" width="70px"></a>
        <p>Sedan Car</p>
        </div>
        <img class="user" src="images/profile.png" alt="">
        <div class="containerProduct">
          <img src="sedan/sedan1.jpg" alt="">
          <div class="prodcont">
            <h4>Honda Civic</h4>
            <p>RM 150.00 per day</p>
            <div class="star-rating">
              <p>Condition : 10/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
            </div>  
          </div>
          <a href="booking.html"><button>Book Now</button></a>
        </div>
        <div class="containerProduct">
          <img src="sedan/sedan2.jpg" alt="">
          <div class="prodcont">
            <h4>Honda Accord</h4>
            <p>RM 130.00 per day</p>
            <div class="star-rating">
              <p>Condition : 8/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
            </div>  
          </div>
          <button>Book Now</button>
        </div>
        <div class="containerProduct">
          <img src="sedan/sedan3.png" alt="">
          <div class="prodcont"
            <h4>Produa Bezza</h4>
            <p>RM 100.00</p>
            <div class="star-rating">
              <p>Condition : 9/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
            </div>  
        </div>
        <button>Book Now</button>  
        </div>
        <div class="containerProduct">
          <img src="sedan/sedan4.jpg" alt="">
          <div class="prodcont"
          <h4>Produa Bezza</h4>
          <p>RM 110.00</p>
          <div class="star-rating">
            <p>Condition : 10/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
          </div>  
        </div>
        <button>Book Now</button>  
        </div>
        <div class="containerProduct">
          <img src="sedan/sedan5.jpg" alt="">
          <div class="prodcont"
          <h4>Proton Saga</h4>
          <p>RM 90.00</p>
          <div class="star-rating">
            <p>Condition : 7/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
          </div>  
        </div>
        <button>Book Now</button>  
        </div>
        <div class="containerProduct">
          <img src="sedan/sedan6.jpg" alt="">
          <div class="prodcont"
          <h4>Proton Saga</h4>
          <p>RM 80.00</p>
          <div class="star-rating">
            <p>Condition : 7/10 <img src="images/star.png" alt="star"><img src="images/star.png" alt="star"><img src="images/star.png" alt="star"></p>  
          </div>  
        </div>
        <button>Book Now</button>    
    </div>
<script src="script.js"></script>
</body>
</html>
