<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dz Empire Car Rental System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alike&family=Inter&display=swap"
     rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<nav class="navbar">
    <p class="navbar-title">DZ EMPIRE RENTAL</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Feedback</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
  
<body>
    <div class="container1">
        <div class="signup-header">
            <img src="images/previous.png" width="70px">
            <p>Sign Up</p>
        </div>
        <div class="container2">
            <p><i>"Its Free and only takes a minute"</i></p>
            <form action="login.html" method="">
                <label>Fullname</label><br>
                <input type="text" name="fullname" required><br><br>
                <label>Address</label><br>
                <input type="text" name="address"><br><br>
                <label>Phone Number</label><br>
                <input type="text" name="phonenum"><br><br>
                <label>Identity Card Number (IC)</label><br>
                <input type="text" name="ic"><br><br>
                <label>Expiry Date License Card</label><br>
                <input type="text" name="license"><br><br>
                <label>Username</label><br>
                <input type="text" name="username"><br><br>
                <label>Password</label><br>
                <input type="text" name="password"><br><br>
                <button type="submit" class="signup-button"><a href="login.html">Sign Up</a></button>
            </form>
        </div>
    </div>
</body>
</html>