<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/dz.png" />
    <title>Rental Details</title>
    <link rel="stylesheet" href="stylesheets/homepage.css" />
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="background-color: #f39d7d;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">DZ EMPIRE RENTAL</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/homecustomer}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
              </li>
            <li class="nav-item">
                <a th:href="@{/rentaldetailC}">
                  <img
                    src="images/car.png"
                    style="width: 30px; height: 30px; cursor: pointer"
                  />
                </a>
              </li>
            <li class="nav-item">
              <a th:href="@{/profilecust}">
                <img
                  src="images/customer.png"
                  style="width: 30px; height: 30px; cursor: pointer"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- <div class="col-10 p-3" style="margin-left: 80px;">
      <div class="card p-3">
        <h3><u>Rental Detail</u></h3>
        <div class="row">
          <div class="col-md-6">
            <img th:src="${car.imageSrc}" alt="Car Image" class="img-fluid" />
            <h4>Car Name: <span th:text="${car.carname}"></span></h4>
            <h4>Car Type: <span th:text="${car.cartype}"></span></h4>
          </div>
          <div class="col-md-6">
            <h4>Day: <span th:text="${rental.day}"></span></h4>
            <h4>Date Start: <span th:text="${rental.datestart}"></span></h4>
            <h4>Date End: <span th:text="${rental.dateend}"></span></h4>
            <h4>Status: <span th:text="${rental.statusrent}"></span></h4>
            <h4>Total Rent Price: <span th:text="${rental.totalrentprice}"></span></h4>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-10 p-3" style="margin-left: 80px;">
      <div class="card p-3"  th:if="${noBooking}">
          <!-- Check if a booking (car) and rental details are not present -->
          <h3><u>No Booking Yet</u></h3>
      </div>
      <div class="card p-3" th:if="${car != null and rental != null}">
          <!-- Check if a booking (car) and rental details are present -->
          <h3><u>Rental Detail</u></h3>
          <div class="row">
              <div class="col-md-6">
                  <img th:src="${car.imageSrc}" alt="Car Image" class="img-fluid" />
                  <h4>Car Name: <span th:text="${car.carname}"></span></h4>
                  <h4>Car Type: <span th:text="${car.cartype}"></span></h4>
              </div>
              <div class="col-md-6">
                  <h4>Day: <span th:text="${rental.day}"></span></h4>
                  <h4>Date Start: <span th:text="${rental.datestart}"></span></h4>
                  <h4>Date End: <span th:text="${rental.dateend}"></span></h4>
                  <h4>Status: <span th:text="${rental.statusrent}"></span></h4>
                  <h4>Total Rent Price: <span th:text="${rental.totalrentprice}"></span></h4>
              </div>
          </div>
      </div>
  </div>
  
  


    <footer class="py-3 bg-dark text-white col-12 fixed-bottom">
      <div class="container-fluid">
        <p class="m-0 text-center">
          Copyright &copy; 2023 <a href="#">DZ EMPIRE CAR RENTAL</a>
        </p>
      </div>
    </footer>
  </body>
  <script
    th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"
  ></script>
  <script
    th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
